@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Poppins:wght@100;400&display=swap");
/* font-family: 'Instrument Serif', serif;
font-family: 'Poppins', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: rgb(25, 25, 25);
  display: flex; /* siempre aplicar esto a los contenedores */
  justify-content: space-between;
  padding: 20px;
}

.logo {
  color: #ffffff;
  font-size: 25px;
}

nav li {
  list-style: none;
  display: inline-block; /* ubica una al lado del otro y conserva altura */
  padding: 10px;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  transform: scale(1.09);
  color: darkslateblue;
}

.seleccion {
  color: rgb(255, 251, 0);
}

section {
  width: 100%;
  height: auto;
  background-color: rgb(25, 25, 25);
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}

.card {
  min-height: 350px;
  width: 25%;
  background-color: orange;
  border: 5px solid #000;
  text-align: center;
}

.card:hover {
  transform: scale(1.03);
  transition: all 0.1s;
  box-shadow: 0 0 1px 0.1px #fff;
}

.card-img {
  height: 180px;
  width: 100%;
  background-color: #000;
  background-image: url(../img/03-Noticias-60-minutos.jpg);
  background-size: cover; /* Esto cubre todo el tamaño de la card */
  background-position: center;
}

.card-imgB {
  height: 180px;
  width: 100%;
  background-color: #000;
  background-image: url(../img/2-estudio-abierto-75.jpg);
  background-size: cover; /* Esto cubre todo el tamaño de la card */
  background-position: center;
}

.card-imgC {
  height: 180px;
  width: 100%;
  background-color: #000;
  background-image: url(../img/el-desafio-de-la-tierra.jpg);
  background-size: cover;
  background-position: center;
}

.card-imgD {
  height: 180px;
  width: 100%;
  background-color: #000;
  background-image: url(../img/las-dos-caras-del-amor.jpg);
  background-size: cover;
  background-position: center;
}

.card h3 {
  text-align: center;
  font-size: 30px;
  color: #fff;
  text-shadow: 2px 2px 3px #000;
}

.card h4 {
  letter-spacing: 2px;
}

.card p {
  text-align: justify;
  padding: 20px;
  font-size: 16px;
}

.card a:hover {
  color: #373737;
}

.card a i {
  font-size: 28px;
  color: #737373;
}

.card a i:hover {
  color: darkslateblue;
}

.card a {
  font-size: 29px;
  letter-spacing: 5px;
  padding: 5px;
}

footer p {
  margin: 20px;
  color: #737373;
}

footer hr {
  height: 1px;
  width: 100%;
  border-color: #737373;
  display: flex;
  justify-content: center;
}

body {
  background-color: rgb(25, 25, 25);
}

.container {
  display: flex;
  justify-content: center;
}

section div p {
  padding: 20px;
}

.provisorio {
  display: flex;
  justify-content: center;
}

.card-extra {
  min-height: 350px;
  width: 25%;
  background-color: rgb(0, 255, 195);
  border: 5px solid #000;
  text-align: center;
}

.card-proyecto {
  min-height: 350px;
  width: 25%;
  background-color: rgb(191, 0, 255);
  border: 5px solid #000;
  text-align: center;
}

.card-contacto {
  min-height: 350px;
  width: 25%;
  background-color: rgb(229, 255, 0);
  border: 5px solid #000;
  text-align: center;
}

/*# sourceMappingURL=estilos.css.map */
